<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- esta es la estructura de eun componente polymer -->
<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2> <!-- implica que toma este valor enlazamos propiedades [[valor]] one way o {{valor}} dos ways-->

    <h2>Soy [[first_name]] [[last_name]]</h2> <!-- incluyo dos nuevos lineas para que me incruste el html cuando le invoque-->
    <h3> y tengo [[age]] años</h3>
    <!--añadimos un input de texto y se vincula a la variable-->
    <input type="text" value ="{{first_name::input}}"/>
    <input type="text" value ="{{last_name::input}}"/>
    <input type="range" min="18" value ="{{age::input}}"max ="70"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     //  Definimos una clase que desciende de Polymer
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; } /*indica el tag al que haremos referencia*/
      static get properties() {  /*array de popiedades*/
        return {
          prop1: {
            type: String               /*tipos de datos primitivos*/
    //        value: 'frontproyecto-app'
                 }, first_name:{
            type : String     // ahora incluimos las propiedades aqui
        //    value : "Remedios"
          }, last_name:{
            type : String
      //      value : "AMaya"
          },  age:{
            type : Number
    //        value : 44
          }
        };
      }
    }
/*añadimos una vinculación via etiqueta .is */
    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
