<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Para poder invocar a estas peticiones, tenemos que impotar el iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Datos de usuario</h2>
    <!--*  Incluimos nuevos campos para recoger email y password"/> -->
    <input type="email" placeholder="Email" value ="{{email::input}}"/></br>
    <input type="password" placeholder="Password" value ="{{password::input}}"/></br>
    <!-- para recoger las variables, debemos gestionar los eventos -->
    <button on-click="login">Login</button>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/users/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:{
            type: Number
          }, first_name:{
            type : String
          }, last_name:{
            type : String
          },  email:{
            type : String
          },  password:{
            type : String
          }
        };
      }

      login(){
        console.log("Boton login pulsado");
  //vamos a enlazar los valores de los input para formar un json
         var loginData = {
           "email": this.email,
           "password": this.password
         };
  // $ se usa para acceder al  shadowDom , al id que hemos definido en ajax y con el body de la variable anteriormente definida.
         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
         console.log("Petición enviada");

      }
      manageAJAXResponse(data){
        console.log("Respuesta definida");
        console.log(data.detail.response);
      }
      showError(error){
      //System.out.print("Usuario no encontrado");
      console.log("Hubo un error");
      console.log(error.detail.request.xhr.response);
      }
      }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
