<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Para poder invocar a estas peticiones, tenemos que impotar el iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Datos de la cuenta</h2>
    <!--*  pintamos las propiedades"/> -->
     <h3> IBAN: {{IBAN}} </h3>
     <h3> En la cuenta tienes: {{balance}} </h3>

    <!-- PAra mostrar los datos de usuario, debemos llamar a la api mediante AJAX -->
    <iron-ajax
      auto=""
      id="getCuentas"
      url="http://localhost:3000/apitechu/v2/users/{{usuarioid}}/accounts"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          usuarioid:{
            type: Number
          }, IBAN:{
            type : String
          }, balance:{
            type : Number
          }
        };
      }
      showData(data){

        console.log("showData");
        console.log(data.detail.response);
    //asignamos la variables devueltas al objeto
        this.IBAN= data.detail.response[0].IBAN;
        this.balance= data.detail.response[0].balance;
      }
      }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
