<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="msg-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> El mensaje es {{msg}}</h2>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class MsgUsuario extends Polymer.Element {
      static get is() { return 'msg-usuario'; }
      static get properties() {
        return {
          msg:{
            type: String,
            value: "Operacion realizada correctamente"
          }
        };
      }

    }

    window.customElements.define(MsgUsuario.is, MsgUsuario);
  </script>
</dom-module>
